BasedOnStyle: LLVM
AlwaysBreakAfterDefinitionReturnType: All
BreakStringLiterals: false
AlwaysBreakTemplateDeclarations: No
PointerAlignment: Right
AlwaysBreakAfterReturnType: TopLevel
ReflowComments: false
IndentWidth: 4
IndentCaseLabels: true
SortUsingDeclarations: false
SortIncludes: false
SpaceBeforeRangeBasedForLoopColon: false
BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel:  true
  AfterClass:      false
  AfterControlStatement: false
  AfterEnum:       false
  AfterFunction:   true
  AfterNamespace:  false
  AfterObjCDeclaration: true
  AfterStruct:     false
  AfterUnion:      false
  AfterExternBlock: true
  BeforeCatch:     false
  BeforeElse:      false
  IndentBraces:    false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
