# Ignore everything
**

# Allow files and directories

# Underpass
!src
!config
!setup
!docker/bzip2.pc
!autogen.sh
!configure.ac
!Makefile.am
!m4
!dist
!docs
!ABOUT-NLS
!config.rpath
!docker/ci-entrypoint.sh

# API
!python
