.gdb_history
TAGS
*~
*.lo
*.la
*.moc
*.o
*.out
*.bak
*.deb
.deps
.libs
aclocal.m4
autom4te.cache
compile
build
config.guess
config.log
config.status
config.sub
configure
deb-copy-stamp
ltmain.sh
libtool
Makefile.in
po/*.gmo
py-compile
doc/html
infra/.terraform
infra/.terraform.lock
infra/.terraform.lock.hcl
ChangeLog
NEWS
README
depcomp
install-sh
missing
unconfig.h.in
m4/libtool.m4
unconfig.h.in
.ipynb_checkpoints
raw/data
raw/env
raw/db_config.txt
raw/app_config.json
