.gdb_history
TAGS
*~
*.lo
*.la
*.moc
*.o
*.out
*.bak
*.deb
.deps
.libs
aclocal.m4
autom4te.cache
compile
config.guess
config.log
config.status
config.sub
configure
deb-copy-stamp
ltmain.sh
libtool
Makefile.in
po/*.gmo
py-compile
doc/html
