.gdb_history
TAGS
*~
*.lo
*.la
*.moc
*.o
*.out
*.bak
*.deb
*.log
.deps
.libs
aclocal.m4
autom4te.cache
compile
build
config.guess
config.log
config.status
config.sub
configure
deb-copy-stamp
ltmain.sh
libtool
Makefile.in
py-compile
docs/html
infra/.terraform
infra/.terraform.lock
infra/.terraform.lock.hcl
infra/*.tfstate
ChangeLog
NEWS
README
depcomp
install-sh
missing
unconfig.h.in
m4/libtool.m4
unconfig.h.in
**/ENV
**/.DS_Store
**/__pycache__/
.vscode
data
