#
# Copyright (c) 2020, 2021, 2022, 2023 Humanitarian OpenStreetMap Team
#
# This file is part of Underpass.
#
#     Underpass is free software: you can redistribute it and/or modify
#     it under the terms of the GNU General Public License as published by
#     the Free Software Foundation, either version 3 of the License, or
#     (at your option) any later version.
#
#     Underpass is distributed in the hope that it will be useful,
#     but WITHOUT ANY WARRANTY; without even the implied warranty of
#     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#     GNU General Public License for more details.
#
#     You should have received a copy of the GNU General Public License
#     along with Underpass.  If not, see <https://www.gnu.org/licenses/>.
#

version: "3"

services:
  # Database
  postgis:
    image: postgis/postgis:${POSTGIS_TAG:-15-3.3-alpine}
    # image: arm64v8/postgres:15.3-alpine3.18
    container_name: "underpass_postgis"
    ports:
      - "5439:5432"
    environment:
      - POSTGRES_DB=underpass
      - POSTGRES_USER=underpass
      - POSTGRES_PASSWORD=underpass
    volumes:
      - ./data:/var/lib/postgresql/data
    restart: on-failure
    logging:
      driver: "json-file"
      options:
        max-size: "200k"
        max-file: "10"
    networks:
      internal:

  # Underpass
  underpass:
    image: "ghcr.io/hotosm/underpass/server:${APP_VERSION:-0.1.0}"
    container_name: underpass
    build:
     context: .
     dockerfile: docker/underpass.dockerfile
    environment:
      - REPLICATOR_UNDERPASS_DB_URL=underpass:underpass@postgis/underpass
    command: tail -f /dev/null
    volumes:
      - ./replication:/code/build/replication
  #   - ./:/code
    networks:
      internal:

  # Underpass API
  underpass-api:
    image: "ghcr.io/hotosm/underpass/api:${APP_VERSION:-0.1.0}"
    container_name: underpass_api
    build:
     context: .
     dockerfile: docker/underpass-api.dockerfile
    # volumes:
    #   - ./python:/code/api
    ports:
      - "8000:8000"
    networks:
      internal:
    environment:
      - UNDERPASS_API_DB=postgresql://underpass:underpass@postgis/underpass

  # Underpass UI
  underpass-ui:
    image: "ghcr.io/hotosm/underpass/ui:${APP_VERSION:-0.1.0}"
    container_name: underpass_ui
    build:
     context: .
     dockerfile: docker/underpass-ui.dockerfile
    # volumes:
    #   - js:/code
    ports:
      - "8080:8080"
    networks:
      internal:
    environment:
      - REACT_APP_UNDERPASS_API=http://postgis:5000

networks:
  internal:
