
:root {
    --hottheme-color-primary: 255, 20, 20;
    --hottheme-color-secondary: 71,159,248;
    --hottheme-color-text-primary: #2c3038;
    --hottheme-color-text-secondary: #929db3;
    --hottheme-color-divider: #cbcaca;
}
