
.customMap {
    position: absolute;
    width: 100%;
    height: 100%;
}

.customMap > .underpassMap {
    position: relative;
    width: 100%;
    height: calc(50vh - 16px);
    border: 4px solid red;
}

.customMap .maplibregl-popup-content .status {
    color: orange;
  }