/* This following code to style the popup was copy-pasted 
from https://github.com/mapbox/mapbox-gl-js/issues/8368#issuecomment-537597959*/
/* Add a border and shadow to the rounded rectangle */
.underpassMaplibregl-popup-content {
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border: 1px solid rgba(var(--hottheme-color-primary), 0.3);
  color: var(--hottheme-color-text-primary);
}

/* Move the content above the :before element so rotated rectangle doesn't cover content */
.underpassMaplibregl-popup-content div {
  position: relative;
  z-index: 5;
}

/* This is the new tip */
.underpassMaplibregl-popup-content:before {
  content: '';
  position: absolute;
  /* They've found 9px looks better than 10px */
  top: -webkit-calc(100% - 9px);
  top: calc(100% - 9px);
  left: calc(50% - 10px);
  height: 20px;
  width: 20px;
  background: white;
  transform: rotate(45deg);
  border-bottom: inherit;
  border-right: inherit;
  /* The shadow is translated down a bit so it doesn't show inside the pop-up */
  box-shadow: 4px 4px 4px -1px rgba(var(--hottheme-color-primary), 0.1);
  z-index: 4;
}

/* Since the new tip is absolutely-positioned, it doesn't force the rectangle up on its own */
.underpassMaplibregl-popup {
  margin-top: -10px;
}

/* Hide the old tip */
.underpassMaplibregl-popup-tip {
  display: none;
}

.underpassMap-wrap {
  position: relative;
  width: 100%;
  height: calc(100vh - 16px);
}

.underpassMap {
  position: absolute;
  width: 100%;
  height: 100%;
}

.popup {
  font-size: 1rem;
}

table {
  width: 100%;
  border-collapse: collapse;
}

tr:not(:last-child) {
  border-bottom: 1px solid var(--hottheme-color-divider);
}

td {
  padding: 0.5rem 0;
}

a {
  color: inherit;
  text-decoration: none;
  font-weight: 600;
}

a:hover {
  text-decoration: underline;
}

.status {
  color: rgb(var(--hottheme-color-primary));
  text-transform: capitalize;
}
