#!/usr/bin/make -f

# Copyright (c) 2020, 2021 Humanitarian OpenStreetMap Team
# All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#
# * Redistributions of source code must retain the above copyright notice, this
#   list of conditions and the following disclaimer.
#
# * Redistributions in binary form must reproduce the above copyright notice,
#   this list of conditions and the following disclaimer in the documentation
#   and/or other materials provided with the distribution.
#
# * Neither the name of copyright holder nor the names of its
#   contributors may be used to endorse or promote products derived from
#   this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE
# FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
# SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
# CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
# OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
# OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1
NOW := $(shell date "+%Y%m%d")

FAKEROOT = fakeroot

# The default path for debhelper functions is debian/tmp
configure: config-stamp
config-stamp:
	dh_testdir
	@printf "\n == CONFIGURE ==\n\n"
	dh_auto_configure -- --disable-shared
	touch $@

build: build-stamp
build-stamp: configure
	dh_testdir
	@printf "\n == BUILD ==\n\n"
	dh_auto_build -- CXXFLAGS="-std=c++17 -g -O0"
	touch $@

clean:
	dh_testdir
	dh_testroot
	@printf "\n == CLEAN ==\n\n"
#	dh_auto_clean
#	rm -fr debian/tmp

install: build
	dh_testdir
	dh_testroot
	dh_installdirs 
	@printf "\n == INSTALL ==\n\n"
	dh_auto_install --destdir=debian/underpass
	dh_systemd_enable
	dh_systemd_start

binary-indep:
#	nothing to do

binary binary-arch: install
	@printf "\n == PACKAGE ==\n\n"
	dh_testdir
	dh_testroot
	dh_installdirs
	dh_installdeb
	dh_installdebconf
	dh_installchangelogs -XChangeLog
	dpkg-gencontrol -Pdebian/underpass -punderpass
	dh_md5sums
	dh_builddeb

.PHONY: binary binary-arch binary-indep clean


