#!/bin/sh

set -e

# Source debconf library.
. /usr/share/debconf/confmodule || exit 0

db_version 2.0
db_capb
db_settitle underpass/title

# if [ "$1" = "configure" ]; then

#echo -n "DB user name ? ${USER}"
#read dbuser
#if test x"${dbuser}" = x; then
#    dbuser=${USER}
#fi

# echo "DB User is ${dbuser}"

db_input medium underpass/configure || true
db_go

db_get underpass/configure

# psql -d osmstats -f /usr/share/underpass/osmstats.sql

# db_stop
